/* BASE STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #0a192f;
} 

body {
    background-image: url(Backgrounds/Background.jpg);
    /* 1. Cesta k obrázku */
    background-repeat: no-repeat;
    /* 2. Žádné opakování (dlaždice) */
    background-position: center center;
    /* 3. Pozice: Střed obrázku bude vždy uprostřed monitoru */
    background-size: cover;
    /* 4. Roztáhne obrázek přes celou plochu bez deformace */
    background-attachment: fixed;
    /* 5. FIXOVÁNÍ: Obrázek stojí na místě, text roluje přes něj */

    color: var(--neon-blue);
    font-family: var(--font-main);
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* Roll chci jen uprostřed stránky (mainu) */
}

/* Vrchní část */
header {
    /* Zarovnání postavy na střed vodorovně a na dno svisle (Potřebuju, aby seděla na lince/lehce pod ní) */
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
    /* Relative mám jako "kotvu" pro absolutní prvky uvnitř (h1, čára) */
    width: 100%;
    height: 350px;
}

header h1 {
    /* Vytrhnutí nadpisu a přilepení do rohu */
    position: absolute;
    top: 30px;
    left: 60px;

    font-size: 70px;
    text-align: center;
    /* "Brána" pod slovem "Aetheronova" */
    line-height: 1.2;

    text-shadow: 0 0 10px var(--neon-blue);
    z-index: 10;
    /* Aby byl nad vším */

    letter-spacing: 2px;
}

.Aetheron img {
    width: 350px;
    height: auto;

    display: block;
    position: relative;

    z-index: 1;
    /* Čára má vyšší číslo -> bude před postavou */
    bottom: -5px;
    /* Utopení postavy pod linkou */

    /* MASKA: Zprůhlední spodní okraj postavy, aby mizel do černé */
    mask-image: linear-gradient(to top, transparent 2%, black 20%);
    -webkit-mask-image: linear-gradient(to top, transparent 2%, black 20%);
}

/* Čára (oddělení headeru a mainu) */
.tech-line {
    position: absolute;
    /* Přilepená k obrázku */
    bottom: 0;
    /* Úplně dole */
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--neon-blue);

    /* Záře až přes postavu */
    box-shadow:
        0 0 10px var(--neon-blue),
        0 0 20px var(--neon-blue);

    z-index: 10;
    /* Je nad postavou */
}

/* Střed */
main {
    flex: 1;
    /* Flex 1 = sežer všechno volné místo na stránce (header a footer má výšku danou) */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Odstup od čáry */
    padding-top: 30px;
    width: 100%;

    /* Scrollování kvůli delšímu PROLOGU -> nevejde se na obrazovku -. posuvník pouze pro main, header zůstává */
    overflow-y: auto;
    padding-bottom: 50px;
    /* Místo dole pro dollorování pod text */
}

/* STYLOVÁNÍ POSUVNÍKU */
/* Nechci ho bílej, hnusnej -> nezapadá do designu stránky */
main::-webkit-scrollbar {
    width: 8px;
}

main::-webkit-scrollbar-track {
    background: var(--bg-dark);
}

main::-webkit-scrollbar-thumb {
    background: var(--dark-teal);
    border-radius: 4px;
}

.clock {
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 70px;
    text-shadow: 0 0 20px var(--neon-blue);
}

/* FORMULÁŘ */
.code-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    text-align: center;
}

input {
    padding: 12px;
    background: var(--bg-glass);
    border: 1px solid var(--dark-teal);
    color: var(--neon-blue);
    text-align: center;
    font-family: var(--font-main);
    outline: none;
}

input:focus {
    border-color: var(--neon-blue);
    /* Rozsvícení při kliknutí */
    box-shadow: 0 0 10px rgba(0, 217, 255, 0.3); /* Zde nechávám RGBA, nelze jednoduše vložit hex proměnnou do opacity */
}

button {
    padding: 12px;
    background: transparent;
    border: 1px solid var(--dark-teal);
    color: var(--neon-blue);
    font-family: var(--font-main);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    /* Plynulá změna barvy */
}

button:hover {
    background: var(--neon-blue);
    color: black;
    box-shadow: 0 0 15px var(--neon-blue);
}

.note {
    font-size: 15px;
    color: var(--text-muted);
}

.note a {
    color: var(--neon-blue);
    text-decoration: none;
}

/* PŘÍBĚHOVÝ TERMINÁL */
.story-terminal {
    margin-top: 30px;
    width: 80%;
    max-width: 700px;

    border: 1px solid rgba(0, 217, 255, 0.3);
    background: var(--bg-panel);
    /* Skoro neprůhledný pozadí -> čitelnost */
    text-align: left;

    font-family: var(--font-story);

    font-size: 14px;
    color: var(--text-light);
    border-radius: 5px;

    transition: 0.3ms;

    flex-shrink: 0;
    /* Aby terminál neposkakoval při scrollování */
}

/* TLAČÍTKO PRO ROZBALOVÁNÍ */
.story-terminal summary {
    padding: 15px;
    cursor: pointer;
    background: rgba(0, 217, 255, 0.3);
    font-weight: bold;
    letter-spacing: 1px;
    list-style: none;
    /* Chtěl jsem skrýt defaultní šipku zleva */
    color: var(--neon-red);
    text-shadow: 0 0 5px rgba(255, 85, 85, 0.5);
    transition: 0.2s;

    /* Zarovnání ikonky trjúhelníčku a textu */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Mezera mezi ikonkou a textem */

    border-top-left-radius: 5px;
    /* Zaoblení pouze levého a pravého horního rohu */
    border-top-right-radius: 5px;
    /* Zaoblení pouze levého a pravého horního rohu */
}

.story-terminal summary:hover {
    background: rgba(0, 217, 255, 0.15);
    letter-spacing: 2px;
    /* Roztažení písmen */
}

/* Fix pro ikonku 2*/
.story-terminal i {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.2em;
}

.story-content {
    padding: 20px;
    line-height: 1.8;
    /* Větší mezery mezi řádky pro lepší čtení */
    border-top: 1px solid rgba(0, 217, 255, 0.3);

    max-height: 400px;
    /* Maximální výška textového okna */
    overflow-y: auto;
    /* Pokud je text delší jak 400px, tak se vytvoří posuvník uvnitř okna */
}

.story-content h2 {
    color: var(--neon-blue);
    margin-bottom: 10px;
    border-bottom: 1px dashed rgba(0, 217, 255, 0.3);
    padding-bottom: 5px;
}

.story-content p {
    margin-bottom: 15px;
}

/* Stylování posuvníku terminálu (Scrollbar) */
.story-content::-webkit-scrollbar {
    width: 6px;
}

.story-content::-webkit-scrollbar-track {
    background: var(--bg-dark);
}

.story-content::-webkit-scrollbar-thumb {
    background: var(--dark-teal);
    border-radius: 3px;
}

/* Footer */
footer {
    padding: 20px;
    font-size: 12px;
    color: var(--text-muted);
    text-align: center;
    border-top: 1px solid rgba(0, 217, 255, 0.1);
}

.author-link {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

.author-link:hover {
    color: var(--neon-blue);
    text-shadow: 0 0 8px rgba(0, 217, 255, 0.6);
    /* Přidání záře */
    cursor: pointer;
}

/* Responsive Exceptions */
@media (max-width: 1400px) {
    header {
        height: 320px;
    }

    header h1 {
        top: 25px;
        left: 30px;
        font-size: 50px;
    }

    .Aetheron img {
        width: 300px;
    }

    .clock {
        font-size: 100px; 
    }
}

@media (max-width: 950px) {
    header {
        height: 300px;
    }

    header h1 {
        left: 0;
        width: 100%;
        text-align: center; 
        top: 10px;
        
        font-size: 40px; 
        line-height: 1.1;
    }

    .Aetheron img {
        width: 260px;
    }

    .clock {
        font-size: 80px; 
        margin-bottom: 40px;
    }
    
    .code-box {
        width: 320px;
    }
}

@media (max-width: 768px) {
    header {
        height: 320px;
    }

    header h1 {
        left: 0;
        width: 100%;

        text-align: center;
        top: 20px;

        font-size: 32px;
    }

    .Aetheron img {
        width: 240px;
    }

    main {
        padding-top: 20px;
    }

    .clock {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .code-box {
        width: 90%;
        max-width: 300px;
    }

    .story-terminal {
        width: 90%;
        font-size: 13px;
    }
}